.chat-input {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-top: 1px solid #ddd;
  background-color: #fff;
}

.chat-input textarea {
  width: 100%;
  min-height: 60px;
  resize: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  border: 1px solid #ccc;
}

.button-group {
  display: flex;
  justify-content: center; 
  gap: 10px;               
  margin-top: 10px;        
}

.chat-input button {
  padding: 10px 16px;
  font-size: 1rem;
  background-color: #6a48a2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #6a48a2
}
